<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tunjid.androidx.core">

    <application android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".testclasses.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".testclasses.TestService"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>
